.sidebar {
    width: 20%;
    padding: 5vh 4vh 3vh 4vh;
    background-color: #fff;
    border-radius: 20px 0 0 20px;
}

.side_header {
    display: flex;
    align-items: center;
}

.side_header img {
    width: 20%;
}

.side_title span {
    color: #6a4f87;
}

.spans {
    font-size: 12px;
    font-weight: 100;
    color: #89888a;
}

@media screen and (max-height:967px) {
    .sidebar {
        /* display: none; */
    }
}