.main_cont {
    width: 90%;
    border-radius: 30px;
    padding: 10vh 5vh 2.8vh 5vh;
    background-image: linear-gradient(75deg, #fff, #fffffffb, #ffffff9d, #ffffff23, #66666604), url("../../assets/img/Alone.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}



.bg {
    position: absolute;
    object-fit: cover;
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
}

.content_1 p {
    color: #a8a9ad;
    line-height: 19px;
    padding-bottom: 20px;
}

.content_1 h1 {
    padding-bottom: 10px;
    line-height: 32px;
    margin-bottom: 3vh;
}

.content_2 {
    display: flex;
    justify-content: space-between;
}

.content_2_btm p:first-child {
    color: #dbdcdd;
}

.content_2_btm p {
    margin: 0;
    text-align: right;
    color: #f5f5f4;
}