.main {
    display: flex;
    padding: 3vh 10vh;
    background: rgb(231, 232, 243);
}

.main_inner {
    display: flex;
}

/* DASHBOARD */
.dashboard {
    display: flex;
    padding: 3vh 10vh;
    background: rgb(231, 232, 243);
    height: 100vh;
}

.center {
    width: 100%;
    background: rgb(244, 245, 254);
    padding: 5vh;
    border-radius: 0 20px 20px 0;
}

.form_control {
    width: 100%;
    padding: 2vh;
    border-radius: 10px;
    outline: none;
    border: 2px solid purple;
}

.results {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2vh;
    padding: 2vh;
    justify-content: center;
    height: 62vh;
    overflow-Y: auto;
}

.lyrics {
    white-space: pre;
    text-align: center;
}