.shortcut {
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: 30px;
    outline: none;
    border: 0;
    padding: 1.8vh;
    margin: 0 2vh 2.5vh 0;
    cursor: pointer;
    color: rgb(153, 153, 154);
}


.shortcut p {
    margin: 0;
    font-weight: 700;
    font-size: 12px;
}

.shortcut img {
    width: 15px;
    margin-right: 5px;
    object-fit: cover;
}

.shortcut:hover {
    background: #000;
    color: #fff;
    transition: .3s ease-in;
}